

.header
  width: 100%
  height: 100vh
  background-color: #d57a67
  margin: 0
  padding: 0


.container
  width: 87%
  height: 100%
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative


.content
  width: 500px
  height: 500px
  text-align: center
  text-transform: uppercase
  color: #dcd9c6
  letter-spacing: .2em
  background-color: #313d53
  border-radius: 500px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  max-width: 500px

.title
  font-size: 65px
