#nav-arrow
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  bottom: 1px

  li
    a
      display: inline-block
      text-transform: uppercase
      font-weight: 700
      text-decoration: none
      color: #dcd9c6
      font-size: 16px
      letter-spacing: .5em
      margin-bottom: 20px
      margin-left: 20px


#nav2
  width: 40%
  justify-content: space-between
  list-style: none
  display: flex



  li
    a
      margin-right: 20px
      text-transform: uppercase
      font-weight: 700
      text-decoration: none
      color: #dcd9c6
      font-size: 16px
      letter-spacing: .5em

.header
  height: 40px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 20px
  margin-bottom: 80px


#logo
  height: 100%
  width: auto
