#nav-wrapper
  display: block
  width: 100%
  position: absolute
  bottom: 25px

.nav
  list-style: none

  li
    margin-bottom: 20px

  a
    text-transform: uppercase
    font-weight: 700
    text-decoration: none
    color: #dcd9c6
    font-size: 20px
    letter-spacing: .5em
