h1, h2, h3, h4, h5 {
  font-family: "Anton", sans-serif;
  color: #dcd9c6;
}

p, a, span, li {
  font-family: "Roboto", sans-serif;
  color: #dcd9c6;
}

h1 {
  font-size: 65px;
}

h3 {
  font-size: 30px;
  color: #dcd9c6;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 30px 0;
}
#footer .social {
  padding: 0 5px;
}
#footer #bio {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

#icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #d57a67;
}

a {
  color: #dcd9c6;
}

a:visited {
  color: #dcd9c6;
}

#landing {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #d57a67;
  box-shadow: 0px 20px black;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1500px;
}

#content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #dcd9c6;
  letter-spacing: 0.2em;
  background-color: #313d53;
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 510px) {
  .container {
    width: 100%;
  }

  .jumbotron {
    width: 90vw;
    height: 90vw;
  }
  .jumbotron h1 {
    font-size: 50px;
  }
  .jumbotron .subTitle {
    font-size: 12px;
  }

  #landing {
    height: 80vh;
  }
}
@media (max-width: 420px) {
  .jumbotron h1 {
    font-size: 40px;
  }
  .jumbotron .subTitle {
    font-size: 8px;
  }
}
#nav-arrow {
  display: block;
  margin: 0 auto;
}
#nav-arrow li a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #dcd9c6;
  font-size: 16px;
  letter-spacing: 0.5em;
  margin-bottom: 20px;
  margin-left: 20px;
}

#nav2 {
  width: 230px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#nav2 li a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #dcd9c6;
  font-size: 16px;
  letter-spacing: 0.5em;
}

.header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

#logo {
  height: 100%;
  width: auto;
}

#projects {
  width: 100%;
  height: auto;
  background-color: #b7685f;
  padding: 75px 0;
}

.content {
  width: auto;
  height: 100%;
  box-sizing: border-box;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.col-2 {
  width: 50%;
  height: auto;
  display: inline-block;
  position: relative;
  max-height: auto;
  margin: 0 10px;
}

.col-3 {
  width: 33.33333333%;
  height: auto;
  display: inline-block;
  position: relative;
  max-width: 500px;
  max-height: auto;
  margin: 0 10px;
}

.thumbnail {
  height: 100%;
  width: 100%;
}

.blurb {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.2em;
}

@media (max-width: 500px) {
  .container {
    width: 90%;
    height: auto;
  }

  .col-2, .col-3 {
    width: 100%;
  }

  .row {
    margin-bottom: 1px;
  }

  .display {
    margin-bottom: 0px;
  }

  #projects {
    height: auto;
  }
}
.showcase {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
}

.project-header {
  width: 700px;
  margin: 0 auto;
  color: #dcd9c6;
  text-align: center;
  padding-bottom: 50px;
}

.title {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 15px;
}

.content {
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
